
# Dependency directories
node_modules/

# Optional npm cache directory
.npm

layers/nodejs/package-lock.json

# Optional serverless cache directory

.serverless

#test reports

test/mochawesome-report